@value fontLarge from '../../common/size.css';
@value makerGreen from '../../common/colors.css';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: fontLarge;
  margin: 0.1em;
  color: makerGreen;
}

.image {
  width: 12em;
  height: 12em;
}

.ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 1rem;
}
