.li {
  color: black;
  font-weight: 900;
  cursor: pointer;
}

/* .li.filtered {
  color: red;
} */
.li.added {
  color: orange;
}
.li.selected {
  color: #fbdf03;
}
.li.used {
  color: green;
}
.li.unused {
  color: blue;
}
.li.missed {
  color: purple;
}
