@value makerGreen, makerDarkGreen, makerYellow from '../../common/colors.css';
@value fontMedium from '../../common/size.css';

.li {
  display: flex;
  align-items: center;
  font-size: fontMedium;
  font-weight: 700;
  margin: 0.1em;
  color: makerGreen;
}

.li.used,
.li.unused {
  cursor: pointer;
}

.li.used {
  color: makerDarkGreen;
}

.li.unused:hover {
  color: makerDarkGreen;
}

.li.added,
.li.selected {
  color: makerDarkGreen;
}

.li.missed {
  color: makerYellow;
  order: 1;
}

.name {
  font-size: fontMedium;
  margin: 0 0.2em;
}
