@value fontSmall, fontMedium, headerFooterHeight, mediaQuery from './common/size.css';
@value makerWhite, makerGreen, makerDarkGreen from './common/colors.css';

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: makerWhite;
}

.header {
  height: headerFooterHeight;
  padding: 0.2rem;
  background-color: makerGreen;
  display: flex;
  justify-content: center;
}

.logo {
  color: makerWhite;
}

.title {
  font-size: 1.5rem;
  margin: 0 0.2em;
  color: makerWhite;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchBar {
  display: flex;
  justify-content: center;
  background-color: makerWhite;
}

.userItems {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: makerWhite;
}

.recipes {
  flex-grow: 1;
}

.searchButton {
  font-size: fontMedium;
  font-weight: 600;
  margin: 0.5em auto;
  padding: 0.3em;
  outline: 0;
  border: 0.12em solid makerGreen;
  border-radius: 0.5em;
  background-color: makerWhite;
  color: makerGreen;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.searchButton:hover {
  background-color: makerGreen;
  color: makerWhite;
}

.footer {
  height: headerFooterHeight;
  padding: 0.2rem;
  background-color: makerGreen;
}

.copyright {
  font-size: fontSmall;
  line-height: headerFooterHeight;
  text-align: center;
  margin: 0;
  color: makerWhite;
}

@media screen and (max-width: mediaQuery) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
