@value headerFooterHeight from './common/size.css';
@value makerWhite, makerGreen, makerDarkGreen from './common/colors.css';

.button {
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 0.5em auto;
  padding: 0.5em 0;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: purple;
}

.header {
  height: headerFooterHeight;
  padding: 0.2rem;
  background-color: makerGreen;
  display: flex;
  justify-content: center;
}

.logo {
  color: makerWhite;
}

.title {
  font-size: 1.5rem;
  margin: 0 0.2em;
  color: makerWhite;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchBar {
  display: flex;
  justify-content: center;
  background-color: wheat;
}

.userItems {
  flex-grow: 1;
  overflow-y: auto;
  background-color: violet;
}

/* .searchButton {
} */

.recipes {
  flex-grow: 1;
}

/* .infoButton {
} */

.footer {
  height: headerFooterHeight;
  padding: 0.2rem;
  background-color: makerGreen;
}

.copyright {
  line-height: headerFooterHeight;
  text-align: center;
  margin: 0;
}
